.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  width: calc(33.33% - 20px);
  background-color: #21445fb2;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  border-radius: 15px;
}

.card:hover {
  opacity: 50%;
}

.card img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.2em;
  margin: 0;
}
