* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2c394b70;
  color: black;
}

body {
  font-family: "Courier New", monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.element {
  background-color: #334756;
  margin-top: 50px;
  margin-right: 100px;
  flex: 1;
  padding: 10px;
}

.element_1 {
}
.element_2 {
  margin-right: 0px;
}

h1 {
  text-align: center;
  padding: 20px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
