:root {
  --col1: #21445f;
  --col2: #082032;
}

.navbar {
  background-color: var(--col2);
  color: #ffffff;

  align-items: center;
  flex-direction: row;
  padding: 10px 0 10px 30px;
}

.nav-links a {
  color: inherit;
  padding: 40px 0;
}

.logo {
  font-size: 32px;
  justify-content: left;
}

.menu {
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: var(--col1);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

.dropdown_nav {
  position: relative;
}

.dropdown {
  background-color: var(--col1);
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
  transform: translate(-25%);
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: var(--col2);
}

.dropdown_nav:hover .dropdown {
  display: block;
}
