html {
  background-color: #2c394b70;
  color: black;
  height: 100%;
}

body {
  font-family: "Courier New", monospace;
}

p {
  max-width: 40rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
